* {
	margin:0;
	padding:0;
	}

/*#FFF8EE*/
body {
			background-color: #d2d3d9;
			margin-top:0px;
			margin-left:auto;
			margin-right:auto;
			width:100%;
		}
		
/* ---------------------------------------------------------------------------
   Header, Logo & Social Media Profiles
--------------------------------------------------------------------------- */

header {
	width:100%;
	position:fixed;
	left:0px;
	top:0px;
	height:65px;
	background:#454446;
	z-index:99;
}

.logo {
	width:130px;
	height:50px;
	margin-left:80px;
	margin-top:7px;
	float:left;
}

.logo img {
	padding-top:2px;
	width:80px;
	height:46px;
}

.social-media {
	margin-right:80px;
	float:right;
    font-family: 'BebasNeueRegular';
	color:#ffffff;
}

.social-media img.glow {
	display:inline;
	position:relative;
	margin:20px 2px 20px 2px;
  	
	/*Transition*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.social-media img.glow:hover {
	-webkit-box-shadow: 0px 0px 10px rgba(255,255,255,0.8);
	  -moz-box-shadow: 0px 0px 10px rgba(255,255,255,0.8);
	  box-shadow: 0px 0px 10px rgba(255,255,255,0.8);
}

.social-media img.search {
	display:inline;
	position:relative;
	margin:20px 2px 20px 2px;
}

.social-media img.search:hover {
    opacity: 0.30;                 /* FX, Safari, GC, Opera, decent browsers */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE8 */
    filter: alpha(opacity=30);                                         /* IE */
    background-image: url(./images/chct/srch.png) no-repeat;

     /* in Safari, FX and Chrome add a fade transition */
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
}

/*---------------------------------------------------------------------------
Navigation
---------------------------------------------------------------------------*/

.main-menu {
	margin-left:0px;
	float:left;
    font-family: 'BebasNeueRegular';
	font-size:18px;
	color:#ffffff;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
	background: none; 
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul li {
	float: left;
	font-size:18px;
	font-family:'BebasNeueRegular'
}

nav ul li:hover {
	background: none;
}

nav ul li:hover a {
	color: #58C2AD;
	transition: color 045s ease-in-out;
	-moz-transition: color 0.4s ease-in-out; /* Firefox 4 */
	-webkit-transition: color 0.4s ease-in-out; /* Safari and Chrome */
	-o-transition: color 0.4s ease-in-out; /* Opera */
}
	
nav ul li a {
	display: block;
	padding: 22px 5px 40px 10px;
	color:#ffffff;
	text-decoration: none;
	transition: color 0.4s ease-in-out;
	-moz-transition: color 0.4s ease-in-out; /* Firefox 4 */
	-webkit-transition: color 0.4s ease-in-out; /* Safari and Chrome */
	-o-transition: color 0.4s ease-in-out; /* Opera */
}

/*---------------------------------------------------------------------------
Slider
---------------------------------------------------------------------------*/
.slider {
	margin-top:100px;
	position: relative;
	width:100%;
	height:500px;
	background-color:#000;
	z-index:-1;
}
.slider img {
	width:100%;
	height:100%;
	float:left;
}
.curSlide {
	width:100%;
	height:100%;
	display:block;
	opacity: 0;
}
.hidden {
	width:100%;
	height:100%;
	display:none;
	opacity: 0;
}
/*---------------------------------------------------------------------------
Search Form
---------------------------------------------------------------------------*/



/*---------------------------------------------------------------------------
Index Content
---------------------------------------------------------------------------*/

.small-padding {
	width:75%;
	height:25px;
	margin-top:-100px;
	margin-left:auto;
	margin-right:auto;
	z-index:5;
	border-top:5px solid #58C2AD;
	background-image:url('../images/chct/stripespadding.png');
}

.small-padding2 {
	width:75%;
	height:25px;
	margin-left:auto;
	margin-right:auto;
	z-index:5;
	background-image:url('../images/chct/stripespadding.png');
}

.small-padding3 {
	width:100%;
	height:25px;
	margin-left:auto;
	margin-right:auto;
	z-index:5;
	background-image:url('../images/chct/stripespadding.png');
}

.content {
	width:75%;
	height:425px;
	margin-left:12.5%;
	position:absolute;
	margin-right:auto;
	background-color:#fff;
	z-index: 10;
}

.divide {
	width:400px;
	height:1px;
	background-color:#454446;
	margin: 7px auto 20px auto;
}

.divide-reverse {
	width:400px;
	height:1px;
	background-color:#fff;
	margin: 7px auto 20px auto;
}

.button-wrapper {
	width:75%;
	height:300px;
	margin:30px auto;
	/*padding:30px 165px 10px 165px;*/
}
.button {
	background-color:#000;
	width:224px;
	height:144px;
	margin: 0px 10px 5px 10px;
	float:left;
	z-index:-1;
}

.button img {
	border:2px solid #000;
	opacity: 1.0;
	    transition: opacity .55s ease-in-out;
	    -moz-transition: opacity .55s ease-in-out;
	    -webkit-transition: opacity .55s ease-in-out;
}

.button img:hover {
	opacity: 0.6;
		 transition: opacity 1s ease-in-out;
		 -moz-transition: opacity 1s ease-in-out;
		 -webkit-transition: opacity 1s ease-in-out;
}

.button-text a
{
	text-decoration:none;
	color:#58C2AD;
	font-family:'BebasNeueRegular';
	font-size:30px;
	float:left;
	z-index:5;
	margin:-3px 0px -3px 0px;
}

.button-text span
{
	font-family:'proxima_novalight';
	font-size:12px;
	color:#454446;
	padding-top:0px;
	float:left;
}

/*---------------------------------------------------------------------------
Index Quote and Blog
---------------------------------------------------------------------------*/

.content-slider{
	margin-top:300px;
	width:100%;
	height:300px;
	border-top:5px solid #fff;
	background-color:#000;
	z-index:-1;
} /*images and client quotes*/

.blog {
	width:100%;
	height:375px;
	padding:30px;
	background-image:url('../images/chct/stripespadding.png');
	overflow:hidden;
}

.blog :hover {
	background-color:#58C2AD;
	transition: color 0.4s ease-in-out;
	-moz-transition: color 0.4s ease-in-out; /* Firefox 4 */
	-webkit-transition: color 0.4s ease-in-out; /* Safari and Chrome */
	-o-transition: color 0.4s ease-in-out; /* Opera */
}

.blog-title {
	width:75%;
	height:75px;
	margin:0px auto 25px auto;
	background-color:#fff;
	border-top:5px solid #454446;
	border-bottom:5px solid #454446;
}

.recent-blog {
	width:70%;
	height:40px;
	margin:0px auto 25px auto;
	background-color:#fff;
	padding:10px;
}

/*---------------------------------------------------------------------------
Free Quote
---------------------------------------------------------------------------*/

.free-quote {
	width:100%;
	height:450px;
	padding:50px;
	background-image:url('../images/chct/stripespadding.png');
	overflow:hidden;
	margin-top:50px;
}

#quote {
	margin:0 auto;
	width:700px;
	height:700px;
	padding:14px;
	background:#fff;
	margin-right:auto;
	margin-left:auto;
}

#quote .column {
	width:250px;
	margin:30px 0px 0px 40px ;
	float:left;
} 

#quote label {
	font-family:'BebasNeueRegular';
	font-size:18px;
	color:#000;
	display:block;
	font-weight:bold;
	text-align:left;
	width:250px;
	float:left;
}

#quote input {
	display:block;
	float:left;
	font-family:'proxima_novalight';
	color:#000;
	background-color:#fff;
	font-size:10px;
	padding:5px 5px;
	width:250px;
	margin:2px 0 2px 2px;
}

#quote button {
	clear:both;
	width:250px;
	background-color: #58C2AD;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-family:'BebasNeueRegular';
	font-size:18px;
}

/*---------------------------------------------------------------------------
About Us
---------------------------------------------------------------------------*/
.chct-slideshow {
	width:100%;
	height:350px;
	background-color:#000;
	z-index:-1;	
}

.about-wrapper {
	width:100%;
	height:275px;
	padding:20px 165px 10px 165px;
	background-color:#454446;
}

.about {
	text-align:left;
	float:left;
	padding: 10px 10px 10px 10px;
	width:300px;
	margin-right:20px;
	margin-left:20px;
}

.phil {
	width:100%;
	height:305px;
	padding-top:30px;
	background-image:url('../images/chct/stripespadding.png');
	overflow:hidden;
}

.phil-wrapper {
	width:75%;
	height:275px;
	margin:0px auto 0px auto;
	padding:50px 20px 10px 20px;
	background-color:#fff;
}

.phil-wrapper span {
	width:200px;
	margin:50px;
	font-family:'proxima_novalight';
	font-size:14px;
	color:#454446;
	
}

/*---------------------------------------------------------------------------
Services
---------------------------------------------------------------------------*/
.free-design {
	width:100%;
	height:400px;
	margin-top:65px;
	background-color:#fff;
	padding:50px;
}

.free-online-store {
	width:100%;
	height:200px;
	background-color:#454446;
	padding:50px;
	margin-bottom:5px;
}

.print {
	width:100%;
	height:500px;
	padding-top:30px;
	background-image:url('../images/chct/stripespadding.png');
	overflow:hidden;
}

.print-wrapper {
	width:75%;
	height:470px;
	margin:0px auto 0px auto;
	padding:30px 20px 10px 20px;
	background-color:#fff;
}

/*---------------------------------------------------------------------------
Design Gallery
---------------------------------------------------------------------------*/
.design-gallery {
	height:1300px;
	width:100%;
	padding:50px;
	margin:0px;
	background-color:#454446;
	border-bottom:5px solid #58C2AD;
}

.design-gallery img {
	font-family:'proxima_novalight';
	font-size:20px;
	color:#fff;
}

#design-table {
	display: table;
	margin:30px auto 0px auto;
}

.design-row {
	display: table-row;
}

.cell {
	display: table-cell;
	padding:15px;
}

/*---------------------------------------------------------------------------
Footer
---------------------------------------------------------------------------*/

footer {
	left:0px;
	bottom:0px;
	position:relative;
	width:100%;
	height:150px;
	background-color:#454446;
	padding:50px 15% 30px 15%;
}

.footer-column {
	float:left;
	color:#000;
	margin-right:100px;
}
	
	
	footer ul {
		list-style: none;
		font-family:'BebasNeueRegular';
		font-size:20px;
		color:#fff;
	}

	footer ul li {
		font-size:12px;
		font-family:'proxima_novalight';
		color:#fff;
	}

	footer ul li a {
		font-size:12px;
		font-family:'proxima_novalight';
		color:#fff;
		text-decoration: none;
	}
	
	footer ul li a:hover {		
		color: #58C2AD;
		transition: color 045s ease-in-out;
		-moz-transition: color 0.4s ease-in-out; /* Firefox 4 */
		-webkit-transition: color 0.4s ease-in-out; /* Safari and Chrome */
		-o-transition: color 0.4s ease-in-out; /* Opera */
	}
